canvas {
    z-index: 1;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



#pantalla-inicio {
    z-index: 0;
    padding-top: 350px;
    padding-bottom: 350px;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
    
     background-image: url("imagenes/fondopantallainicio.png"); 
    /* border: 2px black solid; */
    background-size: 1300px, 400px;
    background-position: center;


}



#socials {
    z-index: 2;
    position: absolute;
    top: 15px;
    left: 1200px;
    margin: 20px;
} 

#socials img {
    z-index: 2;
    height: 50px;
    width: auto;
}

#start-button {
    z-index: 2;
    font-size: 20px;
    position: absolute;
    top: 600px;
    left: 1200px;
    transform: translate(-50%, -50%);
    padding: 20px;
    
}     

.hidden {
    display: none;
}



#countdown {
    z-index: 3;

    position: absolute;
    top: 65px;
    left: 60px;
    font-size: 35px;
    color: orange;
}

#score {
    z-index: 3;

    position: absolute;
    top: 10px;
    left: 30px;
    display: flex;
    justify-content: space-around;
    padding-left: 0px;
    padding-right: 20px;
    text-align: sp;
}

#score span {
    font-size: 25px;
    color: orange;
    align-self: center;
}

#score img {
    z-index: 3;

    width: 80px;
    height: 80px;
    align-self: flex-start;
}

#game-over-div button {
    z-index: 2;

    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;

}
